.flex {
	display: flex;
}
.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.p-10 {
	padding: 10px;
}

.gap-10 {
	gap: 10px;
}
.gap-20 {
	gap: 10px;
}

.w-full {
	width: 100%;
}

.m-auto {
	margin: 0 auto;
}

.rounded-sm {
	border-radius: 10px;
}
.rounded-md {
	border-radius: 15px;
}
.rounded-lg {
	border-radius: 30px;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

body {
	font-family: 'Arial', sans-serif;
	background: #1e272ffa;
	color: white;
}

@keyframes fadeOut {
	from {
		transform: translateY(100px);
		transition: 0.5s;
	}
	to {
		transform: translateY(0px);
		transition: 0.5s;
	}
}

@keyframes hide {
	from {
		transform: translateY(0);
		transition: 0.5s;
	}
	to {
		transform: translateY(-5000px);
		transition: 0.5s;
	}
}

@keyframes hideSide {
	from {
		transform: translateX(0);
		transition: 0.5s;
	}
	to {
		transform: translateX(5000px);
		transition: 0.5s;
	}
}
.container {
	width: 80%;
	margin: 0 auto;
}

p {
	color: darkgray;
}
h3 {
	color: whites;
}

.pendiliumBg {
	background-image: url('../../public/item.png');
	background-size: cover;
}

.scales-main {
	border-radius: 50px;
	background-image: url('../../public/desktop.png');
	background-size: cover;
}

h5 {
	font-weight: 400;
}

.pendulum-container {
	animation: fadeOut 1s;
}

.magnet-container {
	animation: fadeOut 1s;
}
.scales-main {
	animation: fadeOut 1s;
}

.hide {
	animation: hide 1s;
}

.hideSide {
	animation: hideSide 1s;
}
